.App {
  display: flex;
  justify-content: center;
}

.calc-wrapper {
  width: 400px;
  height: 600px;
}

.row {
  display: flex;
  width: 100%;
}

.button {
  display: flex;
  flex: 1;
  font-size: 20px;
  height: 4em;
  justify-content: center;
  align-items: center;
  background-color: #ccc;
  color: white;
  outline: 1px solid #ddd;
}

.operator {
  background-color: #3cb52c;
}

.full-width {
  display: flex;
  flex: 1;
  font-size: 20px;
  height: 4em;
  align-items: center;
}

.input {
  justify-content: flex-end;
  background-color: #303030;
  color: white;
  outline: 1px solid #ddd;
  padding-right: 10px;
}

.clear {
  justify-content: center;
  background-color: #b5432d;
  color: white;
   outline: 1px solid #ddd;
}